<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="i2TradePlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>		
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="i2TradePlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<!--add key="logging.directory" value="C:\ITSNet\logs\"/>
		<add key="logging.level" value="ALL|INFO|ERROR|OFF"/-->

		<add key="SSLCertStore" value="MY"/>
		<add key="SSLAcceptAnyCert" value="0"/>
		<add key="SSLCertSerialNumber" value="SERIALNUMBER=07969287"/>
		<add key="SSLCertSubject" value="CN=www.stirevolution.com, OU=Domain Control Validated, O=www.stirevolution.com"/>
	</appSettings>

 <userSettings>
   <i2TradePlus.Properties.Settings>
     <setting name="Default_Font" serializeAs="String">
       <value>Segoe UI, 8.25pt</value>
     </setting>
     <setting name="IsWriteErrorLog" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="BSBoxEntryTTF" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="BSBoxDefaultStock" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="BSBoxDefaultPrice" serializeAs="String">
       <value>0</value>
     </setting>
     <setting name="BSBoxSavePincode" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="SmartOneClick" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="Hotkeys" serializeAs="Xml">
       <value>
         <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
       </value>
     </setting>
     <setting name="ProxyPassword" serializeAs="String">
       <value />
     </setting>
     <setting name="ProxyHost" serializeAs="String">
       <value />
     </setting>
     <setting name="ProxyPort" serializeAs="String">
       <value>80</value>
     </setting>
     <setting name="RememberProxyPassword" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="Default_WindowMaximizeState" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="Default_Bound" serializeAs="String">
       <value>0, 0, 800, 600</value>
     </setting>
     <setting name="Default_FirstOpen" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="ViewOrderRows" serializeAs="String">
       <value>200</value>
     </setting>
     <setting name="BottomSizePct" serializeAs="String">
       <value>0.60</value>
     </setting>
     <setting name="Default_MainScreenHeight" serializeAs="String">
       <value>0</value>
     </setting>
     <setting name="HeaderBackGColor" serializeAs="String">
       <value>50, 50, 50</value>
     </setting>
     <setting name="GridColor" serializeAs="String">
       <value>45, 45, 45</value>
     </setting>
     <setting name="HeaderFontColor" serializeAs="String">
       <value>LightGray</value>
     </setting>
     <setting name="BottomStyleEquity" serializeAs="String">
       <value>2</value>
     </setting>
     <setting name="SmartClickVolume" serializeAs="String">
       <value>100</value>
     </setting>
     <setting name="BSBoxDefaultVolume" serializeAs="String">
       <value>0</value>
     </setting>
     <setting name="BSBoxDefaultVolumeNext" serializeAs="String">
       <value>0</value>
     </setting>
     <setting name="BSBoxDefaultVolumeActive" serializeAs="String">
       <value>False</value>
     </setting>
     <setting name="LastLoginId" serializeAs="String">
       <value />
     </setting>
     <setting name="ProxyUsername" serializeAs="String">
       <value />
     </setting>
     <setting name="RequestTfex" serializeAs="String">
       <value>True</value>
     </setting>
     <setting name="Template" serializeAs="String">
       <value />
     </setting>
     <setting name="BottomStyleTfex" serializeAs="String">
       <value>1</value>
     </setting>
     <setting name="TickerFilter" serializeAs="String">
       <value>0</value>
     </setting>
   </i2TradePlus.Properties.Settings>
 </userSettings>
 <applicationSettings>
   <i2TradePlus.Properties.Settings>
     <setting name="i2TradePlus_ITSNetBusinessWSTFEX_Service" serializeAs="String">
       <value>http://localhost:1854/i2Trade.WebServerD/Service.asmx</value>
     </setting>
     <setting name="efinTradePlus_ITSNetBusinessWS_Service" serializeAs="String">
       <value>http://localhost:1853/i2Trade.WebServer/Service.asmx</value>
     </setting>
   </i2TradePlus.Properties.Settings>
 </applicationSettings>
</configuration>